.cases-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.roulette-container {
  position: relative;
  width: 80%;
  max-width: 500px;
  overflow: hidden;
}

.roulette {
  display: flex;
}

.roulette img {
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.roulette-pointer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: yellow;
  z-index: 2;
}

/* Внутренние тени */
.roulette-container::before,
.roulette-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  pointer-events: none;
  z-index: 1;
}

.roulette-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.roulette-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}
