.cases-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.roulette-container {
  position: relative;
  width: 80%;
  max-width: 500px;
  overflow: hidden;
  background-color: rgb(30, 30, 30);
  /* box-shadow: 0 0 25px 2.5px rgb(41, 0, 62); */
  /* border-radius: 5px; */
}

.roulette {
  display: flex;
}

.roulette img {
  width: 130px;
  height: 100px;
  object-fit: cover;
}

.roulette-item {
  margin: 0 2px;
  background-color: #333;
}

.roulette-pointer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: rgba(238, 255, 0, 0.5);
  z-index: 2;
}

/* Внутренние тени */
.roulette-container::before,
.roulette-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  pointer-events: none;
  z-index: 1;
}

.roulette-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
}

.roulette-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9), transparent);
}

.roulette-btn {
  border: 0px;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
  background-color: rgb(39, 166, 10);
}
