.case {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.case-inner {
  border-radius: 5px;
  width: 70px;
  height: 70px;
  position: relative;
  top: -5px;
  left: -18px;
  background: #282c36;
}

.case-inner img {
  left: 2px;
  top: 2px;
  position: relative;
  width: 65px;
}

.case-text {
  position: absolute;
  bottom: -4px;
  background: #242531;
  width: 70px;
  height: 20px;
  border-radius: 0px 0px 5px 5px;
}

.case-text p {
  color: #e4e4e4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 6px;
  height: 10px;
  line-height: 13px;
  margin-top: 3px;
  font-weight: 500;
}