$rouletteHeight: 112px;

.roulette-wrapper {
  margin-top: 15px;
  position: relative;
}

.ev-roulette {
  margin: 0 auto;
  width: 400px;
  height: $rouletteHeight;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 4px #1a1b22;
  border: 1px solid #232730;
  border-radius: 5px;
}

.ev-target {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: $rouletteHeight;
  background: #f1cd01aa;
  z-index: 1100;
}

.ev-weapons {
  height: $rouletteHeight;
  white-space: nowrap;
  position: relative;
  left: 0;
}

.button {
  display: block;
  font-size: 12px;
  padding: 6px 20px;
  margin: 18px auto 0;
  border: none;
  border-radius: 3px;
  background-color: #1dc300;
  color: #fff;

  &:disabled {
    background-color: #245d00;
    color: rgba(#fff, 0.6);
  }
}

@media (max-width: 400px) {
  .ev-roulette {
    width: 350px;
  }

  .ev-target {
    width: 1px;
  }
}

.selected-case {
  position: relative;
  left: 19px;
  margin-top: 15px;
  margin-bottom: -8px;

  .case-text {
    border-radius: 0px 0px 10px 10px;
    height: 26px;
  }

  .case-text p {
    line-height: 20px;
  }
}

.selected-case div:first-child {
  width: 120px;
  border-radius: 10px;
  height: 114px;
}

.selected-case div:first-child img {
  left: 4px;
  top: 4px;
  width: 110px;
}

.selected-case div:last-child {
  width: 120px;
}

.selected-case p:last-child {
  font-size: 8.5px;
  height: 30px;
}