$rouletteHeight: 112px;

.roulette-wrapper {
  margin-top: 20px;
  position: relative;
}

.ev-roulette {
  margin: 0 auto;
  width: 400px;
  height: $rouletteHeight;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 4px #1a1b22;
  border: 1px solid #232730;
  border-radius: 5px;
}

.ev-target {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: $rouletteHeight;
  background: #f1cd01aa;
  z-index: 1100;
}

.ev-weapons {
  height: $rouletteHeight;
  white-space: nowrap;
  position: relative;
  left: 0;
}

.button {
  display: block;
  font-size: 12px;
  padding: 6px 20px;
  margin: 18px auto 0;
  border: none;
  border-radius: 3px;
  background-color: #1dc300;
  color: #fff;

  &:disabled {
    background-color: #245d00;
    color: rgba(#fff, 0.6);
  }
}