.case {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.case-inner {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #282c36;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.case-inner img {
  width: 65px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.case-text {
  background: #242531;
  width: 100%;
  height: 20px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.case-text p {
  color: #e4e4e4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 5px;
  line-height: 1;
  margin: 0;
}
