.inventory-page {
  padding: 15px;
}

.inventory-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.inventory-item {
  .ev-weapon {
    display: inline-block;
    width: 100px;
    height: 100px;
    .ev-weapon-inner {
      width: 90px;
      height: 90px;
    }
    .ev-weapon-inner img {
      position: absolute;
      width: 80px;
      height: auto;
      left: 7px;
    }
    .ev-weapon-text {
      position: absolute;
      bottom: 3px;
      background: #242531;
      width: 90px;
      height: 24px;
    }
    
    .ev-weapon-text p {
      color: #e4e4e4;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 6px;
      height: 10px;
      line-height: 6px;
    }
    
    .ev-weapon-text p:first-child {
      font-weight: 600;
    }
  }
}
