.ev-weapon {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-right: -9px;
}

.ev-weapon-inner {
  width: 110px;
  height: 110px;
  position: relative;
  background: #282c36;
}

.ev-weapon-rarity {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}

.ev-weapon-rarity.milspec {
  background: #4b69ff;
}

.ev-weapon-rarity.restricted {
  background: #8847ff;
}

.ev-weapon-rarity.classified {
  background: #d32ce6;
}

.ev-weapon-rarity.covert {
  background: #eb4b4b;
}

.ev-weapon-rarity.rare {
  background: #ffd700;
}

.ev-weapon-rarity.uncommon {
  background: #ddd;
}

.ev-weapon-rarity.industrial-grade {
  background: rgb(108, 151, 212)
}

.ev-weapon-inner img {
  position: absolute;
  width: 90px;
  height: 70px;
  top: 3px;
  left: 10px;
}

.ev-weapon-text {
  position: absolute;
  bottom: 10px;
  background: #242531;
  width: 110px;
  height: 30px;
}

.ev-weapon-text p {
  color: #e4e4e4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 8px;
  height: 13px;
  line-height: 13px;
}

.ev-weapon-text p:first-child {
  margin-top: 5px;
  font-weight: 900;
}