.options {
  min-height: 100vh;
  background-color: rgb(17, 17, 30);
}

.option {
  margin-top: 20px;
  width: 50%;
  color: white;
  background-color: rgb(17, 17, 30);
  border: none;
  border-radius: 20px 20px 0px 0px;
  font-size: 10px;
  height: 25px;
}

.deactive {
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(42, 42, 55);
}

.case-list {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.case-button {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  margin-left: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: all;
}

.case-button.deactive {
  pointer-events: none;
}

.item-list {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.item {
  .ev-weapon {
    display: inline-block;
    width: 80px;
    height: 80px;
    .ev-weapon-inner {
      width: 70px;
      height: 70px;
    }
    .ev-weapon-inner img {
      position: absolute;
      width: 60px;
      height: auto;
      left: 5px;
    }
    .ev-weapon-text {
      position: absolute;
      bottom: 2px;
      background: #242531;
      width: 70px;
      height: 22px;
    }
    
    .ev-weapon-text p {
      color: #e4e4e4;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 5px;
      height: 8px;
      line-height: 4px;
    }
    
    .ev-weapon-text p:first-child {
      font-weight: 600;
    }
  }
}

